In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv("placement.csv")
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [12]:
df = df.drop(df.columns[:1] ,axis = 1)
df = df.iloc[:,:-1]
df.head()

   cgpa     iq
0   6.8  123.0
1   5.9  106.0
2   5.3  121.0
3   7.4  132.0
4   5.8  142.0

In [13]:
x = df[['cgpa']]
y = df['iq']

In [14]:
new_data = df.head(10)

In [15]:
x_new = new_data[['cgpa']]
y_new = new_data['iq']

In [16]:
from sklearn.model_selection import StratifiedKFold ,KFold , LeaveOneOut , LeavePOut

In [22]:
lo = LeaveOneOut()
kf = KFold(n_splits=5)  
skf = StratifiedKFold(n_splits=5) 
# skf only works in classification algorithm
# no of folds is n_splits/

In [18]:
for train , test in lo.split(x_new , y_new):
    print(train ,test)

[1 2 3 4 5 6 7 8 9] [0]
[0 2 3 4 5 6 7 8 9] [1]
[0 1 3 4 5 6 7 8 9] [2]
[0 1 2 4 5 6 7 8 9] [3]
[0 1 2 3 5 6 7 8 9] [4]
[0 1 2 3 4 6 7 8 9] [5]
[0 1 2 3 4 5 7 8 9] [6]
[0 1 2 3 4 5 6 8 9] [7]
[0 1 2 3 4 5 6 7 9] [8]
[0 1 2 3 4 5 6 7 8] [9]

In [21]:
for train , test in kf.split(x_new , y_new):
    print(train ,test)

[2 3 4 5 6 7 8 9] [0 1]
[0 1 4 5 6 7 8 9] [2 3]
[0 1 2 3 6 7 8 9] [4 5]
[0 1 2 3 4 5 8 9] [6 7]
[0 1 2 3 4 5 6 7] [8 9]

In [26]:
# lets perform this cross validation technique on linear regression

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
from sklearn.model_selection import cross_val_score

In [32]:
p = cross_val_score(LinearRegression() , x,y , cv = 5)
# by default the cross val score uses the kfold method , u can use custom method among leave one out , leave p out , stratified k fold
# just do cv = model
p.sort()
p*100

array([-31.37223242, -13.11894757,   0.15809132,   0.97077732,
         2.02682825])